.player {
	position: relative;

	display: inline-flex;
	align-items: center;
	flex-direction: column;

	padding: 5px;

	transition: all ease 0.2s;

	border: 1px solid grey;
	border-radius: 10px;
	background-color: rgb(231, 253, 253);
	&:nth-of-type(1) {
		right: -12.5%;

		margin-left: auto;
		grid-area: p1;
	}
	&:nth-of-type(2) {
		grid-area: p2;
	}
	&:nth-of-type(3) {
		grid-area: p3;
	}
	&:nth-of-type(4) {
		grid-area: p4;
	}
	&:nth-of-type(5) {
		grid-area: p5;
	}
	&:nth-of-type(6) {
		grid-area: p6;
	}
	&:nth-of-type(7) {
		grid-area: p7;
	}
	&:nth-of-type(8) {
		grid-area: p8;
	}
	&:nth-of-type(9) {
		grid-area: p9;
	}
	&:nth-of-type(10) {
		grid-area: p10;
	}
	&__avatar {
		position: relative;

		width: auto;
		height: 45px;
	}
	// remove after test
	&__delete {
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;

		padding: 5px 10px;

		cursor: pointer;
		transform: translate(-50%, -50%);

		color: white;
		border: rgb(226, 0, 0) 1px solid;
		background-color: rgb(245, 49, 49);
	}
	&__info {
		z-index: 2;

		display: inline-block;
		flex: auto;

		padding: 10px 20px;
	}
}

// remove after test
.test-add-player {
	font-size: 20px;

	position: absolute;
	top: 0;
	left: 0;

	padding: 10px 20px;

	cursor: pointer;

	color: #fff;
	border: 0;
	background-color: rgb(25, 113, 228);
}
